.round-button {
    display:block;
    margin-top: -3px;
    margin-left: 25.5px;
    width:20px;
    height:20px;
    border-style: inset;
    line-height:20px;
    border: 2px solid #000000;
    border-radius: 50%;
    background: #ff0000;
}

.round-button:hover {
    background: #5c0000;
}

.round-button2 {
  display:block;
  margin-top: -3px;
  margin-left: 10px;
  width:20px;
  height:20px;
  border-style: outset;
  line-height:20px;
  border: 2px solid #000000;
  border-radius: 50%;
  background: #ff0000;
}

.round-button2:hover {
  background: #5c0000;
}

.round-button3 {
display:block;
margin-top: -3px;
margin-left: 45px;
width:20px;
height:20px;
line-height:20px;
border: 2px solid #000000;
border-radius: 50%;
background: #ff0000;
}


.round-button3:hover {
background: #5c0000;
}

.round-buttonBUe {
display:block;
margin-top: -3px;
margin-left: 27px;
width:20px;
height:20px;
line-height:20px;
border: 2px solid #ffee00;
border-radius: 50%;
background: #ffffff;
}

.round-buttonBUe:hover {
background: #6a7200;
}

.round-buttonGLs {
display:block;
margin-top: -3px;
margin-left: 27px;
width:20px;
height:20px;
line-height:20px;
border: 2px solid #19d401;
border-radius: 50%;
background: #8b8b8b;
}


.round-buttonGLs:hover {
background: #474747;
}

.round-buttonBVNZ {
display:block;
margin-top: -3px;
margin-left: 27px;
width:20px;
height:20px;
line-height:20px;
border: 2px solid #c47f00;
border-radius: 50%;
background: #ffffff;
}

.round-buttonBVNZ:hover {
background: #969696;
}

.round-buttonNAUF {
display:block;
margin-top: 27px;
margin-left: 27px;
width:20px;
height:20px;
line-height:20px;
border: 2px solid #ff0000;
border-radius: 50%;
background: #000000;
}

.round-buttonNAUF:hover {
background: #969696;
}

.round-buttonAlarmAb {
  display:block;
  margin-top: 27px;
  margin-left: 27px;
  width:20px;
  height:20px;
  line-height:20px;
  border: 2px solid #00ff2a;
  border-radius: 50%;
  background: #000000;
  }
  
  .round-buttonAlarmAb:hover {
  background: #969696;
  }


  .round-buttonTagNacht {
    display:block;
    margin-top: 27px;
    margin-left: 27px;
    width:20px;
    height:20px;
    line-height:20px;
    border: 2px solid #000000;
    border-radius: 50%;
    background: #636363;
    }
    
    .round-buttonTagNacht:hover {
    background: #000000;
    }

    .round-buttonWeichenBelEin {
      display:block;
      margin-top: 27px;
      margin-left: 27px;
      width:20px;
      height:20px;
      line-height:20px;
      border: 2px solid #001aff;
      border-radius: 50%;
      background: #ffffff;
      }
      
      .round-buttonWeichenBelEin:hover {
      background: #696969;
      }

      .round-buttonWeichenBelAus {
        display:block;
        margin-top: 27px;
        margin-left: 27px;
        width:20px;
        height:20px;
        line-height:20px;
        border: 2px solid #001aff;
        border-radius: 50%;
        background: #000000;
        }
        
        .round-buttonWeichenBelAus:hover {
        background: #696969;
        }
        
        .round-buttonWeichenSteuerung {
          display:block;
          margin-top: 27px;
          margin-left: 27px;
          width:20px;
          height:20px;
          line-height:20px;
          border: 2px solid #001aff;
          border-radius: 50%;
          background: #001aff;
          }
          
          .round-buttonWeichenSteuerung:hover {
          background: #696969;
          }
  

      .round-buttonSteuerung {
        display:block;
        margin-top: 27px;
        margin-left: 27px;
        width:20px;
        height:20px;
        line-height:20px;
        border: 2px solid #00d624;
        border-radius: 50%;
        background: #a5a5a5;
        }
        
        .round-buttonSteuerung:hover {
        background: #696969;
        }

