.round-light {
    display:block;
    margin-top: -4px;
    margin-left: 0px;
    width:10px;
    height:10px;
    line-height:10px;;
    border-radius: 50%;
    background: rgb(75, 75, 75);;
    }
   